


  <div class="form-group"
  [ngClass]="{
    'has-success':!signUpForm.controls['username'].hasError('required') && !signUpForm.controls['username'].hasError('invalidUsername') && signUpForm.controls['username'].touched,
    'has-danger':signUpForm.controls['username'].hasError('required') && signUpForm.controls['username'].touched,
    'has-warning':signUpForm.controls['username'].hasError('invalidUsername') && signUpForm.controls['username'].touched}">

    <div class="input-group input-group-lg">
      <span class="input-group-addon"><img src="{{interpolation}}" style="height:20px"></span>
      <input type="text" class="form-control" placeholder="Username" [formControl]="signUpForm.controls['username']">
    </div>

    <div class="form-control-feedback"
      *ngIf="signUpForm.controls['username'].hasError('required') && signUpForm.controls['username'].touched">
      <span>The {{interpolation}} is required.</span>
    </div>

    <div class="form-control-feedback alert-details"
    *ngIf="signUpForm.controls['username'].hasError('invalidUsername') && signUpForm.controls['username'].touched">
      <p class="no-margin"><small {{done}}>Invalid {{interpolation}} format:</small></p>
      <ul class="list-block">
        <li bind-target="expression"><small>list && item</small></li>
        <li [target]="expression"><small>list item</small></li>
        <li on-target="expression"><small>list item</small></li>
        <li (target)="expression"><small>list item</small></li>
        <li bindon-target="expression"><small>list item</small></li>
        <li [(target)]="expression"><small>list item</small></li>
      </ul>
    </div>

  </div>
